[submodule "\\xamp\\htdocs\\Increase\\vendor\\jcheron\\phalcon-jquery"]
	path = \\xamp\\htdocs\\Increase\\vendor\\jcheron\\phalcon-jquery
	url = D:\\xamp\\htdocs\\Increase\\vendor\\jcheron\\phalcon-jquery
